* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

.debug {
    border: 2px solid black;
    min-height: 100px;
}

.img {
    max-width: 100%;
}

/* COLORS PALETTE */
:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
}

/* LAYOUT */
.container-large {
    max-width: 100%;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 12px;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* HEADER */
.page-header {
    background-color: var(--blue);
    color: var(--light);
}

.page-header .row {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar-list {
    display: flex;
    gap: 22px;
    line-height: 40px;
}

.button {
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.hamburger {
    font-size: 24px;
    display: none;
}

/* HERO */
.hero .card {
    background-color: var(--light-blue);
    border-radius: 20px; 
    text-align: center;
    padding: 25px;
    height: 100%;
}

.hero .col-4,.hero .col-8 {
    padding: 12px;
}

.hero .card-icon {
    font-size: 80px;
    color: var(--blue);
}

.hero .card-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--blue);
}

.hero .card-par {
    font-size: 16px;  
    line-height: 30px; 
}

.hero div[class^="card-"] {
    padding: 10px 0;
}

.text-align-left {
    text-align: left;
}

.hero img {
    max-width: 200px;
    align-self: flex-end;
    margin-bottom: -25px;
}

.row-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero .button {
    background-color: var(--blue);
    color: var(--light);
    padding: 10px 60px;
    margin-top: 20px;
}


/* MEDIA QUERY */
@media screen and (max-width:768px) {
    .navbar-list {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }
}

@media screen and (max-width:576px) {

}