* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

.debug {
    border: 2px solid black;
    min-height: 100px;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 42px;
}

/* COLORS PALETTE */
:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
    --black:#000000;
}

/* LAYOUT */
.container-large {
    max-width: 100%;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 12px;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.row-column {
    display: flex;
    flex-direction: column;
}

.col-3 {
    flex-basis: calc(100% /4);
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% /12)*9);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    padding: 0 25px;
}

/* UTILITY CLASS */
.margin-vertical {
    margin: 120px 0;
}

.margin-bottom {
    margin-bottom: 60px;
}

.white-text {
    color: var(--light);
}

.italic-text {
    font-style: italic;
}

.align-flex-end {
    align-self: flex-end;
}

.resizing-img {
    max-width: 70%;
}

.text-align-center {
    text-align: center;
}

/* HEADER */
.page-header {
    background-color: var(--blue);
    color: var(--light);
}

.page-header .row {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar-list {
    display: flex;
    gap: 22px;
    line-height: 40px;
}

.button {
    color: var(--black);
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.hamburger {
    font-size: 24px;
    display: none;
}

.text-spacing {
    margin: 40px 0;
}

/* HERO */
.card {
    padding: 25px;
    height: 100%;    
    border-radius: 20px; 
}

.hero .card {
    background-color: var(--light-blue);
    text-align: center;    
}

.hero .col-4,.hero .col-8 {
    padding: 12px;
}

.hero .card-icon {
    font-size: 80px;
    color: var(--blue);
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--blue);
}

.card-par {
    font-size: 16px;  
    line-height: 30px; 
}

.hero div[class^="card-"] {
    padding: 10px 0;
}

.text-align-left {
    text-align: left;
}

.hero img {
    max-width: 254px;
    align-self: flex-end;
    margin-bottom: -25px;
}

.row-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero .button {
    background-color: var(--blue);
    color: var(--light);
    padding: 10px 60px;
    margin-top: 20px;
}

.hero {
    margin-top: 50px;
    padding-bottom: 80px;
}

/* PLANNING */
.container-large.planning {
    background-color: var(--purple);
}

.planning .card {
    background-color: var(--light);
    margin-bottom: 65px;
    border-radius: 70px;
    text-align: center;
}

.planning .card-title {
    color: var(--black);
}

.purple-button {
    background-color: var(--purple);
    border-radius: 50%;
    padding: 18px 25px;
    display: inline-block;
    margin: 40px 0 15px 0;
    font-size: 20px;
}

.planning .col-6 {
    padding: 0 25px;
}

.planning .card-title {
    margin: 20px 0;
}

/* PARTNERS */
.container.partners {
    padding: 0 24px;
    margin-bottom: 100px;
}

.partners h1 {
    color: var(--purple);
}

.circle-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.partners .card {
    background-color: var(--purple);
    color: var(--light);
    padding-bottom: 40px;
    margin: 15px 0;
    line-height: 30px;
    border-radius: 60px;
}

.partners .row-nowrap {
    gap: 60px;
    align-items: center;
}

.partners .card p {
    margin-bottom: 20px;
}

/* BENEFITS */
.benefits.container-large {
    background-color: var(--purple);
    padding-bottom: 60px;
}

.benefits h1 {
    color: var(--light);
    text-align: center;
    padding: 75px 0;
}

.benefits .card {
    background-color: var(--light);
}

.benefits .col-4 {
    padding: 12px;
}

.benefits h2,.benefits h3 {
    color: var(--purple);
}

.benefits h2 {
    font-size: 64px;
}

.benefits h3 {
    font-size: 24px;
}

.benefits .button,.about-us .button {
    background-color: var(--purple);
    color: var(--light);
    padding: 10px 50px;
}

.benefits .text-spacing {
    margin: 15px 0;
}

/* ABOUT US */
.about-us.container {
    padding: 100px 24px;
}

.about-us h1 {
    font-size: 64px;
    color: var(--purple);
}

.about-us .text-spacing {
    padding-bottom: 20px;
}

.about-us h2 {
    color: var(--purple);
    font-size: 24px;
    margin-bottom: 24px;
}

.about-us .col-8,.about-us .col-4 {
    padding: 0 40px;
}

.about-us img {
    border-radius: 50%;
    margin: 50px auto 25px;
    width: 200px;
    display: block;
}

.about-us .button {
    padding: 5px 10px;
    font-size: 14px;
}

/* MEDIA QUERY */
@media screen and (max-width:768px) {
    .navbar-list {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .hero .col-8 .row-nowrap {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 40px;
    }

    .row-img {
        justify-content: flex-start;
    }

    .planning .col-6 {
        flex-basis: 100%;
    }

    .planning .resizing-img{
        max-width: 100%;
    }

    .benefits .col-4 {
        flex-basis: 50%;
    }

}

@media screen and (max-width:576px) {
    .hero .col-4, .hero .col-8 {
        flex-basis: 100%;
    }

    .hero .col-6 {
        flex-basis: 100%;
        justify-content: center;
    }

    .partners .col-12 {
        flex-direction: column;
        text-align: center;
    }

    .benefits .col-4 {
        flex-basis: 100%;
    }

    .about-us .col-8,.about-us .col-4 {
        padding: 0;
        flex-basis: 100%;
    }
}